html,
body {
  padding: 0;
  // background-color: #4444;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Breadcrumb{
  background-color: #3e5afb;
}

.success{
  color: green;
  font-weight: bold;
}